<section class="open-accordion">
  <div class="container">
    <div class="col-12">
      <div class="open-accordion__container">
        <div class="open-accordion__row">
          <div class="open-accordion__title">
            01
          </div>
          <div class="open-accordion__border"></div>
          <div class="open-accordion__copy">
            <h4>Identify Sites</h4>
            <p>We target the growing inventory of legacy mine sites, both those in company portfolios and orphan sites where governments seek innovative approaches.</p>
          </div>
        </div>
        <div class="open-accordion__row">
          <div class="open-accordion__title">
            02
          </div>
          <div class="open-accordion__border"></div>
          <div class="open-accordion__copy">
            <h4>Apply Innovative Technologies & Methods</h4>
            <p>We target the growing inventory of legacy mine sites, both those in company portfolios and orphan sites where governments seek innovative approaches.</p>
          </div>
        </div>
        <div class="open-accordion__row">
          <div class="open-accordion__title">
            03
          </div>
          <div class="open-accordion__border"></div>
          <div class="open-accordion__copy">
            <h4>Restore Biodiversity</h4>
            <p>We target the growing inventory of legacy mine sites, both those in company portfolios and orphan sites where governments seek innovative approaches.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>