<app-general-banner title="Gallery" img="assets/images/media-hero.png"></app-general-banner>

<section class="gallery">
	<div class="container">
    
    <div class="row spacing">
      <div class="col-12">
        <div class="gallery__addition-information" data-aos="fade-up">
          <div class="gallery__addition-information-title title text-center">
            Look around...
          </div>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="gallery__slider" data-aos="fade-up">

          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
          [config]="slideConfig" (init)="slickInit($event)" (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
          
          <div ngxSlickItem class="slide gallery__slide" *ngFor="let slide of slides">
            <div class="gallery__img">
              <img src="{{ slide.img }}" class="img-fluid" alt="">
            </div>
          </div>
        </ngx-slick-carousel>
      
        </div>
      </div>
    </div>
  </div>
</section>