<app-general-banner title="Trauma Counselling" img="assets/images/tc-hero.png"></app-general-banner>

<section class="trauma-counselling">

  <div class="container-fluid p-0">
		<div class="row m-0">
      <div class="col-12 col-lg-6 p-0" data-aos="fade-right">
        <div class="trauma-counselling__img">
          <img src="https://dummyimage.com/600x400/000/fff" alt="">
        </div>
      </div>
      <div class="col-12 col-lg-6 p-0 d-lg-flex align-items-lg-center" data-aos="fade-left">
        <div class="trauma-counselling__content-container">
          <h1>About</h1>

          <div class="trauma-counselling__copy">
            <p>
              This is a private practice that offers Trauma Counselling, Grief Counselling, Counselling for Depression, Marriage Counselling, Child and Teenage Counselling and Family Counselling.</p>
              
            <p>My philosophy is that mental wellbeing is an insightful journey of introspection, reflection and application, to achieve the goal of happiness and stability.</p>
              
          <p>I have been in practice for 10 years, working with children, teenagers, and adults . Parent counselling has also formed a large component of the practice.</p>
          </div>
        </div>
      </div>
    </div>
	</div>

	<div class="container">
    <div class="row spacing">
      <div class="col-12 text-center">
        <div class="title mb-5">
          Types of Therapy
        </div>
      </div>
      <div class="col-12">
        <app-open-accordion [data]="typeOfTherapy"></app-open-accordion>
      </div>
    </div>
    <div class="row spacing">
      <div class="col-12 text-center">
        <div class="title mb-5">
          Services Offered:
        </div>
      </div>
      <div class="col-12">
        <app-slider [slides]="servicesOffered"></app-slider>
      </div>
    </div>

    <div class="row spacing">
      <div class="col-12 text-center">
        <div class="title mb-5">
          Negative After Effects of Emotional Trauma:
        </div>
      </div>
      <div class="col-12">
        <app-slider [slides]="emotionalTrauma"></app-slider>
      </div>
    </div>
  </div>
</section>