.general-banner {
	
	&__bg {
		height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 116px;

    @media (min-width: 1024px) {
      height: 500px;
    }
	}

  &__title {
    font-size: 30px;
    color: #97667b;

    @media (min-width: 1024px) {
      font-size: 67px;
      width: 50%;

    }
  }
}