.slider {

  position: relative;

	&__container {
		border-radius: 30px;
		background-color: #858470;
		position: relative;
		padding: 20px;

		@media (min-width: 1024px) {
			display: flex;
			justify-content: end;
			min-height: 500px;
			padding: 30px;
      margin: 80px;
		}
	}

	&__img {
		@media (min-width: 1024px) {
			position: absolute;
			left: -80px;
			top: -80px;
			width: 650px;
			height: 500px;
		}

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			object-position: center;
		}
	}

	&__content {
		text-align: center;
		color: #fff;

		@media (min-width: 1024px) {
			width: 50%;
		}
	}

	&__content-icon {
		img {
			width: 200px;
			height: auto;
			margin: auto;
		}
	}

	&__copy {
		margin: 20px 0;
	}

	::ng-deep {

		.slick-prev,
		.slick-next {
			height: 50px;
			width: 50px;
			z-index: 100;
			border-radius: 50%;

			&::before {
				color: #fff !important;
				font-size: 45px !important;
			}
		}

		.slick-next {
			right: 190px;
      top: 75%;
		}

		.slick-prev {
			right: 200px;
      top: 75%;
      left: unset;

      @media (min-width: 1024px) {
        right: 500px;
      }
		}
	}

  &__pagination {
    position: absolute;
    bottom: 100px;
    right: 220px;
    font-size: 27px;
    font-weight: bold;
    color: #fff;

    @media (min-width: 1024px) {
      bottom: 150px;
      right: 330px;
    }
  }
}
