.booking {
	&__tabs {
		width: 27%;
		height: auto;
		padding: 20px 0;

		:last-child {
			&::after {
				content: none;
			}
		}
	}

	&__container-title {
		font-size: 24px;
		color: #97667b;
		font-weight: bold;
		margin-bottom: 30px;
	}

	&__container {
		// padding: 30px;
	}

	&__btn-container {
		margin-bottom: 40px;

		@media (min-width: 1024px) {
			display: flex;
			align-items: center;
		}
	}

	&__accomodation-container {
		@media (min-width: 1024px) {
			display: flex;
		}
	}

	&__times {
		margin-left: 0;

		@media (min-width: 1024px) {
			margin-left: 30px;
		}
	}

	&__date-container {
		width: 100%;

		@media (min-width: 1024px) {
			width: 410px;
		}
	}

	&__times-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&__sml-btn {
		width: 120px;
		height: 40px;
		background-color: #858470;
		color: #fff;
		border-radius: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		margin-bottom: 20px;
		cursor: pointer;
		transition: ease-in-out 0.5s;

		@media (min-width: 1024px) {
			margin-right: 30px;
			margin-bottom: 0;
		}

		&.active {
			background-color: #d9756c;
			color: #fff;
		}

		&:hover {
			background-color: #d9756c;
			color: #fff;
		}
	}

	&__btn {
		width: 220px;
		height: 80px;
		background-color: #858470;
		color: #fff;
		border-radius: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		margin-bottom: 20px;
		cursor: pointer;
		transition: ease-in-out 0.5s;
		padding: 0 25px;

		@media (min-width: 1024px) {
			margin-right: 30px;
			margin-bottom: 0;
		}

		i {
			font-size: 23px;
			margin-right: 10px;

			&.bi-check-circle {
				font-size: 26px;
			}
		}

		&.active {
			background-color: #d9756c;
			color: #fff;
		}

		&:hover {
			background-color: #d9756c;
			color: #fff;
		}
	}

  &__divider {
    width: 3px;
    height: 100%;
    background-color: #cecece;
  }

	&__tab-btn {
		display: flex;
		align-items: center;
		background-color: transparent;
		color: #111;
		padding: 40px 16px;
		width: 100%;
		border: none;
		outline: none;
		text-align: left;
		cursor: initial;
		transition: 0.3s;
		font-size: 24px;
		// border-right: 3px solid #858470;
		position: relative;
		letter-spacing: 1px;

		@media (min-width: 1024px) {
			padding: 60px 16px;
		}

		i {
			&.bi-check-circle-fill {
				color: #858470;
			}

			&.completed {
				display: none;
			}

			font-size: 35px;
			position: absolute;
			right: -18px;
		}

		&::after {
			content: "";
			width: 12px;
			height: 12px;
			position: absolute;
			border-radius: 50%;
			background-color: #858470;
			right: -7px;
			bottom: -2px;
			z-index: 9;
		}

		.number-icon {
			color: #97667b !important;
		}

		&.active {
			background-color: transparent;
			color: #97667b;

			.number-icon {
				color: #d9756c !important;
			}
		}
	}

	&__next-btn {
		position: absolute;
		bottom: 0;
		right: 0;

		@media (min-width: 1024px) {
		}
	}

	&__primary-btn {
		background-color: #d9756c;
		width: 140px;
		height: 50px;
		border-radius: 80px;
		border: none;
		color: #fff;
		transition: ease-out 0.2s;
    position: relative;

    span {
      margin-left: -19px;
    }

		i {
      position: absolute;
      right: 33px;
  		transition: ease-out 0.2s;
		}

		&:hover {
			i {
				right: 29px;
			}
		}
	}

	&__prev-btn {
		position: absolute;
		bottom: 0;

		@media (min-width: 1024px) {
			left: 50px;
		}
	}

	.tabcontent {
		padding: 20px 30px;
		width: 73%;
		border-left: none;
		height: auto;
		display: none;
		position: relative;

		@media (min-width: 1024px) {
			padding: 20px 50px;
			min-height: 670px;
		}
	}

	&__form-container {
		width: 100%;
		background-color: transparent;
		padding: 25px;
	}
}

::ng-deep {
	.demo-inline-calendar-card {
		border: none;
		box-shadow: none;
		background: transparent;
	}

	.mat-calendar-body-selected {
		background-color: #d9756c !important;
		color: #fff;
	}

	.mat-calendar-body-cell-content {
		&:hover {
			background-color: #d9756c !important;
			color: #fff;
		}
	}
}

::ng-deep {
	.mdc-dialog__surface {
		background-color: #d9d0c7 !important;
	}

	.cdk-overlay-pane {
		width: 90%;
		height: 85vh;

		@media (min-width: 1024px) {
			width: 65%;
		}
	}

	.mat-mdc-dialog-content {
		max-height: 100%;
	}

  .mdc-text-field--filled {
    background-color: transparent !important;
  }
}
