<section class="booking">
  <div class="container">
    <div class="row">
      <div class="col-12 d-lg-flex align-items-lg-start">
        <div class="booking__tabs">
          <button class="booking__tab-btn tablinks" [class.active]="isBookingActive">
            Appointment
            <i class="bi bi-check-circle-fill completed" [class.d-block]="isPersonalDetailsActive"></i>
            <i class="bi bi-1-circle-fill number-icon" [class.d-none]="isPersonalDetailsActive"></i>
          </button>

          <button class="booking__tab-btn tablinks" [class.active]="isPersonalDetailsActive">
            Personal Details
            <i class="bi bi-check-circle-fill completed" [class.d-block]="isPaymentActive"></i>
            <i class="bi bi-2-circle-fill number-icon" [class.d-none]="isPaymentActive"></i>
          </button>

          <button class="booking__tab-btn tablinks" (click)="openTab($event, 'Confirmation')">Confirmation
            <!-- <i class="bi bi-check-circle-fill completed"></i> -->
            <i class="bi bi-3-circle-fill number-icon"></i>
          </button>
        </div>

        <div class="booking__divider"></div>

        <div id="Booking" class="tabcontent" [class.d-block]="isBookingActive">
          <div class="booking__container">
            <div class="booking__container-title">
              Services
            </div>
            <div class="booking__btn-container">
              <div class="booking__btn" [ngClass]="{'active': selectedVenueOT}"
                (click)="selectVenueOption('Occupational Therapy')">
                <i *ngIf="!selectedVenueOT" class="bi bi-circle"></i>
                <i *ngIf="selectedVenueOT" class="bi bi-check-circle-fill"></i>
                Occupational Therapy
              </div>
              <div class="booking__btn" [ngClass]="{'active': selectedVenueSHT}"
                (click)="selectVenueOption('Speech & Hearing Therapy')">
                <i *ngIf="!selectedVenueSHT" class="bi bi-circle"></i>
                <i *ngIf="selectedVenueSHT" class="bi bi-check-circle-fill"></i>
                Speech & Hearing Therapy
              </div>
              <div class="booking__btn" [ngClass]="{'active': selectedVenueTC}"
                (click)="selectVenueOption('Trauma Counselling')">
                <i *ngIf="!selectedVenueTC" class="bi bi-circle"></i>
                <i *ngIf="selectedVenueTC" class="bi bi-check-circle-fill"></i>
                Trauma Counselling
              </div>

            </div>
            <div class="booking__container-title">
              Date & Time
            </div>
            <div class="booking__accomodation-container">
              <div class="booking__date-container">

                <mat-card class="demo-inline-calendar-card">
                  <mat-calendar [(selected)]="selected"></mat-calendar>
                </mat-card>

              </div>
              <div *ngIf="selectedVenueOT" class="booking__times">
                <div class="booking__times-row">
                  <div class="booking__sml-btn" [class.active]="isActive === '2:30'"
                    (click)="selectTime('2:30pm'); isActive = '2:30'">
                    2:30pm
                  </div>
                  <div class="booking__sml-btn" [class.active]="isActive === '3:15'"
                    (click)="selectTime('3:15pm'); isActive = '3:15'">
                    3:15pm
                  </div>
                </div>
                <div class="booking__times-row">
                  <div class="booking__sml-btn" [class.active]="isActive === '4:00'"
                    (click)="selectTime('4:00pm'); isActive = '4:00'">
                    4:00pm
                  </div>
                  <div class="booking__sml-btn" [class.active]="isActive === '4:45'"
                    (click)="selectTime('4:45pm'); isActive = '4:45'">
                    4:45pm
                  </div>
                </div>
                <div class="booking__times-row">
                  <div class="booking__sml-btn" [class.active]="isActive === '5:15'"
                    (click)="selectTime('5:15pm'); isActive = '5:15'">
                    5:15pm
                  </div>
                  <div class="booking__sml-btn" [class.active]="isActive === '6:00'"
                    (click)="selectTime('6:00pm'); isActive = '6:00'">
                    6:00pm
                  </div>
                </div>
              </div>

              <div *ngIf="selectedVenueSHT" class="booking__times">
                <div class="booking__times-row">
                  <div class="booking__sml-btn" [class.active]="isActive === '9:00'"
                    (click)="selectTime('9:00am'); isActive = '9:00'">
                    8:00am
                  </div>
                  <div class="booking__sml-btn" [class.active]="isActive === '10:00'"
                    (click)="selectTime('10:00am'); isActive = '10:00'">
                    8:45am
                  </div>
                </div>
                <div class="booking__times-row">
                  <div class="booking__sml-btn" [class.active]="isActive === '11:00'"
                    (click)="selectTime('11:00am'); isActive = '11:00'">
                    9:30am
                  </div>
                  <div class="booking__sml-btn" [class.active]="isActive === '12:00'"
                    (click)="selectTime('12:00am'); isActive = '12:00'">
                    10:15am
                  </div>
                </div>
                <div class="booking__times-row">
                  <div class="booking__sml-btn" [class.active]="isActive === '13:00'"
                    (click)="selectTime('13:00pm'); isActive = '13:00'">
                    11:00pm
                  </div>
                  <div class="booking__sml-btn" [class.active]="isActive === '14:00'"
                    (click)="selectTime('14:00pm'); isActive = '14:00'">
                    11:45pm
                  </div>
                </div>
                <div class="booking__times-row">
                  <div class="booking__sml-btn" [class.active]="isActive === '15:00'"
                    (click)="selectTime('15:00pm'); isActive = '15:00'">
                    11:00pm
                  </div>
                  <div class="booking__sml-btn" [class.active]="isActive === '16:00'"
                    (click)="selectTime('16:00pm'); isActive = '16:00'">
                    11:45pm
                  </div>
                </div>
                <div class="booking__times-row">
                  <div class="booking__sml-btn" [class.active]="isActive === '17:00'"
                    (click)="selectTime('17:00pm'); isActive = '17:00'">
                    12:30pm
                  </div>
                  <div class="booking__sml-btn" [class.active]="isActive === '16:00'"
                    (click)="selectTime('16:00pm'); isActive = '16:00'">
                    1:15pm
                  </div>
                </div>
              </div>

              <div *ngIf="selectedVenueTC" class="booking__times">
                <div class="booking__times-row">
                  <div class="booking__sml-btn" [class.active]="isActive === '5:00'"
                    (click)="selectTime('5:00pm'); isActive = '5:00'">
                    5:00pm
                  </div>
                  <div class="booking__sml-btn" [class.active]="isActive === '6:00'"
                    (click)="selectTime('6:00pm'); isActive = '6:00'">
                    6:00pm
                  </div>
                </div>
                <div class="booking__times-row">
                  <div class="booking__sml-btn" [class.active]="isActive === '7:00'"
                    (click)="selectTime('7:00pm'); isActive = '7:00'">
                    7:00pm
                  </div>
                  <div class="booking__sml-btn" [class.active]="isActive === '8:00'"
                    (click)="selectTime('8:00pm'); isActive = '8:00'">
                    8:00pm
                  </div>
                </div>
              </div>
            </div>
            <div class="booking__next-btn">
              <button class="btn"
                [disabled]="isActive == '' || selected == undefined || selected == null"
                (click)="openTab($event, 'Personal Details'); isPersonalDetailsActive = true; isBookingActive = false">
                <span>Next</span>
                <div class="primary">
                  Next
                </div>
              </button>
              <!-- <button class="booking__primary-btn"
                (click)="openTab($event, 'Personal Details'); isPersonalDetailsActive = true; isBookingActive = false">
                <span>Next</span>
                <i class="bi bi-arrow-right"></i>
              </button> -->
            </div>
          </div>
        </div>

        <div id="Personal Details" class="tabcontent">
          <div class="booking__container">
            <div class="booking__container-title">
            </div>

            <div class="booking__form-container">
              <form class="w-100 booking__form">

                <div class="booking__form-input-row d-lg-flex align-items-center mb-4">
                  <mat-form-field class="w-100">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput [formControl]="firstNameFormControl" [errorStateMatcher]="matcher"
                      placeholder="Ex. John">
                    <mat-error *ngIf="firstNameFormControl.hasError('required')">
                      First Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-100 ps-lg-3">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput [formControl]="lastNameFormControl" [errorStateMatcher]="matcher"
                      placeholder="Ex. Doe">
                    <mat-error *ngIf="lastNameFormControl.hasError('required')">
                      Last Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>


                <mat-form-field class="w-100 mb-4">
                  <mat-label>Cellphone</mat-label>
                  <input type="number" matInput [formControl]="cellphoneFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. 083 443 9922">
                  <mat-error *ngIf="cellphoneFormControl.hasError('required')">
                    Cellphone number is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100 mb-4">
                  <mat-label>Email Adress</mat-label>
                  <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                
                <mat-form-field class="w-100 mb-4">
                  <mat-label>Child's Name</mat-label>
                  <input type="email" matInput [formControl]="childNameFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="childNameFormControl.hasError('childsname') && !childNameFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="childNameFormControl.hasError('required')">
                    Child's Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </form>
            </div>

            <div class="booking__prev-btn">
              <a class="btn"
                (click)="openTab($event, 'Booking'); tabComplete = 'none'; isPersonalDetailsActive = false; isBookingActive = true">
                <span>Previous</span>
                <div class="primary">
                  Previous
                </div>
              </a>
            </div>
            <div class="booking__next-btn">
              <button class="btn"
                [disabled]="firstNameFormControl.value == '' || lastNameFormControl.value == '' || cellphoneFormControl.value == ''"
                (click)="openTab($event, 'Confirmation'); tabComplete = 'tab2-complete'; isPaymentActive = true">
                <span>Next</span>
                <div class="primary">
                  Next
                </div>
              </button>
            </div>
          </div>
        </div>

        <div id="Confirmation" class="tabcontent">
          <div class="booking__container d-flex align-items-center">
            <div class="booking__confirmation-img">
              <img src="https://dummyimage.com/600x400/000/fff" alt="">
            </div>
            <div class="booking__confirmation-information">
              <h2>Your Appointment has been Confirmed</h2>

              <h5 class="my-4">Appointment Details:</h5>

              <p><span>Date:</span> {{ selected }}</p>
              <p><span>Time:</span> {{ isActive }}</p>
              <p><span>Service:</span> {{ selectedVenueValue }}</p>
              <p><span>Name:</span> {{ firstNameFormControl.value }} {{ lastNameFormControl.value }}</p>
              <p><span>Child's Name:</span> {{ childNameFormControl.value }}</p>
              <p><span>Cellphone:</span> {{ cellphoneFormControl.value }}</p>
              <p class="mb-5"><span>Email:</span> {{ emailFormControl.value }}</p>
              
              <h5 class="mb-3">A WhatsApp confirmation will be sent to you.</h5>

              <h5 class="mb-3">Thank you</h5>

              <h5>The Therapy Clinic</h5>
            </div>

            <div class="booking__next-btn">
              <button class="btn">
                <span>Close</span>
                <div class="primary">
                  Close
                </div>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<!-- https://neathousepartners.com/final-written-warning/#:~:text=The%20law%20does%20not%20set,progressing%20to%20a%20written%20warning. -->