<section class="three-card-column spacing">
	<div class="container">
    <div class="row align-items-lg-center">

      <div class="col-12 col-lg-6 p-lg-5">
        <div class="three-card-column__card" data-aos="fade-right">
          <div class="three-card-column__title">
            Occupational Therapy
          </div>
          <div class="three-card-column__img">
            <img src="assets/images/cards/Occupational Therapy.png" alt="">
          </div>
          <div class="three-card-column__copy">
            <p>OT supports children of all ages by incorporating the developmental skills that are important to you and your child, into the intervention process, whether it is at school, during rehabilitation, or at a medical facility.</p>
          </div>
          <div class="three-card-column__btn">
            <a class="btn" [routerLink]="['/about']">
              <span>Explore</span>
              <div class="primary">
                Explore
              </div>
            </a>
          </div>
        </div>
      </div>
      
      <!-- <div class="col-12 col-lg-4">
        <div class="three-card-column__card" data-aos="fade-down">
          <div class="three-card-column__title">
            Speech & Hearing Therapy
          </div>
          <div class="three-card-column__img">
            <img src="assets/images/s-and-h-therapy.png" alt="">
          </div>
          <div class="three-card-column__copy">
            <p>Speech and language therapy is the assessment and treatment of communication or speech disorders and difficulties with language.  It is performed by speech-language therapists.
              </p>
          </div>
          <div class="three-card-column__btn">
            <a class="btn" [routerLink]="['/about']">
              <span>Explore</span>
              <div class="primary">
                Explore
              </div>
            </a>
          </div>
        </div>
      </div> -->
      
      <div class="col-12 col-lg-6 p-lg-5">
        <div class="three-card-column__card" data-aos="fade-left">
          <div class="three-card-column__title">
            Trauma <br> Counselling
          </div>
          <div class="three-card-column__img">
            <img src="assets/images/cards/Trauma Counselling.png" alt="">
          </div>
          <div class="three-card-column__copy">
            <p>Trauma Counselling supports an individual in identifying and coming to terms with the feelings and emotions one feels during and after a traumatic experience.
              </p>
          </div>
          <div class="three-card-column__btn">
            <a class="btn" [routerLink]="['/about']">
              <span>Explore</span>
              <div class="primary">
                Explore
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>