.text-image {
  background-color: #d9d0c7;

  &__container {

    @media (min-width: 1024px) {
    }
  }

	&__img {
		img {
			width: 100%;
			height: auto;
			border-top-left-radius: 45px;
      border-bottom-right-radius: 45px;
		}

    &.left {
      display: flex;
      justify-content: flex-end;
    }
	}

	&__title {
		color: #97667b;
		font-weight: bold;
		margin: 20px 0;

    &.left {
      text-align: right;
    }

    @media (min-width: 1024px) {
      margin: 30px 0;
    }
	}

  &__copy {

    &.left {
      text-align: right;
    }
  }

  .row {
    margin-bottom: 60px;
  }

}
