<section class="text-image spacing">
  <div class="container-fluid p-0 text-image__bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-4">
          <div class="text-image__container" data-aos="fade-right">
            <div class="text-image__img">
              <img src="https://dummyimage.com/600x400/000/fff" alt="">
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-8">
          <div class="text-image__title">
            <h2>Occupational Therapy</h2>
          </div>
          <div class="text-image__copy">
            <p>Occupational therapy is a client-centred health profession concerned with promoting the health and
              well-being of individuals, in the roles that they need to perform. The primary goal of therapy is to
              enable people to participate in the activities of everyday life. Occupational therapists achieve this
              outcome by working with people and communities to enhance their ability to engage in the occupations
              (play, school, work, roles) they want to, need to, or are expected to do. If rendered unable to, then
              modification of the occupation or the environment is implemented to better support their occupational
              engagement.
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-12 col-lg-4 order-lg-2">
          <div class="text-image__img left">
            <img src="https://dummyimage.com/600x400/000/fff" alt="">
          </div>
        </div>
        <div class="col-12 col-lg-8 order-lg-1">
          <div class="text-image__container left" data-aos="fade-left">
            <div class="text-image__title left">
              <h2>What Does Occupational Therapy Have To Do With My Child?
              </h2>
            </div>
            <div class="text-image__copy left">
              <p>
                Your child’s life is made up of occupations, or everyday activities. These occupations include playing,
                learning, sleeping and resting, interacting with friends, getting dressed, and other daily activities.
                Many of us generally don’t think about a child’s daily occupations until he or she has challenges doing
                them. Everyone has occupations—from the toddler whose occupations are playing and learning, to the older
                child whose occupations are being a student and developing the skills to become more independent.
              </p>
            </div>
          </div>
        </div>
      </div>



      <div class="row align-items-center">
        <div class="col-12 col-lg-4">
          <div class="text-image__container" data-aos="fade-right">
            <div class="text-image__img">
              <img src="https://dummyimage.com/600x400/000/fff" alt="">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="text-image__title">
            <h2>Speech & Hearing Therapy
            </h2>
          </div>
          <div class="text-image__copy">
            <p>Speech therapy includes articulation therapy (difficulty with pronunciation of sounds), as well as
              language development and intervention activities depending on the type of speech or language disorder.
              Speech language therapists also assess and manage difficulties with the processing of sounds and the
              skills needed to develop literacy and comprehension.
            </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-12 col-lg-4 order-lg-2">
          <div class="text-image__container left" data-aos="fade-left">
            <div class="text-image__img left">
              <img src="https://dummyimage.com/600x400/000/fff" alt="">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 order-lg-1">
          <div class="text-image__title left">
            <h2>
              Trauma Counselling
            </h2>
          </div>
          <div class="text-image__copy left">
            <p>
              Trauma counselling is a short-term intervention, which is indicated when a person has suffered a
              traumatic incident. The therapist provides a grounded presence where you can begin to explore your
              trauma while feeling safe, listened to and held.
              Counselling is the skilled and principled use of relationship to facilitate self- knowledge, emotional
              acceptance and growth and the optimal development of personal resources. The overall aim is to provide
              an opportunity to work towards living more satisfyingly and resourcefully. Counselling relationships
              will vary according to need but may be concerned with developmental issues, addressing and resolving
              specific problems, making decisions, coping with crisis, developing personal insights and knowledge,
              working through feelings of inner conflict or improving relationships with others.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>