<section class="text-image">
	<div class="container-fluid p-0 text-image__bg">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="text-image__container" data-aos="fade-right">
            <div class="text-image__img">
              <img src="https://dummyimage.com/600x400/000/fff" alt="">
            </div>  
            <div class="text-image__title">
              <h2>Occupational Therapy</h2>
            </div>
            <div class="text-image__copy">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>        
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="text-image__container left" data-aos="fade-left">  
            <div class="text-image__title left">
              <h2>Occupational Therapy</h2>
            </div>
            <div class="text-image__copy left">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>        
            </div>
            <div class="text-image__img left">
              <img src="https://dummyimage.com/600x400/000/fff" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>