<section class="about">
	<div class="container-fluid p-0">
		<div class="row m-0">
      <div class="col-12 col-lg-6 p-0" data-aos="fade-right">
        <div class="about__img">
          <img src="https://dummyimage.com/600x400/000/fff" alt="">
        </div>
      </div>
      <div class="col-12 col-lg-6 p-0 d-lg-flex align-items-lg-center" data-aos="fade-left">
        <div class="about__content-container">
          <h1>About</h1>

          <div class="about__copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>
      </div>
    </div>
	</div>

  <app-three-card-text-column [data]="data" title=""></app-three-card-text-column>
</section>