<section class="banner">
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-12 col-lg-6 p-0" data-aos="fade-right">
        <div class="banner__content">
          <div class="banner__title">
            <h2>Welcome to</h2>
            <h1>The Therapy Clinic</h1>
          </div>
          <div class="banner__content-img">
            <img src="assets/images/logo.png" alt="">
          </div>

          <div class="banner__btn-container d-flex justify-content-center">

            <a class="btn" [routerLink]="['/about']">
              <span>Explore</span>
              <div class="primary">
                Explore
              </div>
            </a>

            <!-- <a class="btn" (click)="openDialog()">
              <span>Book now</span>
              <div class="primary">
                Book now
              </div>
            </a> -->
  
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-0" data-aos="fade-left">
        <div class="banner__img">
          <img src="assets/images/ttc-hero.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>