<app-general-banner title="Occupational Therapy" img="assets/images/ot-hero.png"></app-general-banner>

<section class="occupational-therapy spacing">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3" *ngFor="let item of slides">
        <app-service-card [data]="item"></app-service-card>
      </div>
    </div>
  </div>

  <div class="occupational-therapy__two-cols spacing mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="speech-and-hearing__addition-information" data-aos="fade-up">
            <div class="speech-and-hearing__addition-information-title title text-center">
              Frequently Treated <br /> Conditions
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-text-image-column id="sensory-integration" img="assets/images/OT Page _ SI.png"
      title="Sensory Integration (SI) difficulties/ Sensory Processing Disorder (SPD)"
      [copy]="'<p><ul><li>Sensory Processing Disorder (SPD) is a complex disorder of the brain that affects developing children and adults. SPD (originally called Sensory Integration Dysfunction) is a neurological disorder in which the sensory information that the individual perceives is distorted and results in abnormal responses.</li><li>The exact cause of Sensory Processing Disorder has not yet been identified. Preliminary studies and research suggest that SPD is often inherited. Prenatal and birth complications have also been implicated as causal in SPD, as well as certain environmental factors.</li><li>SPD may affect one sense, like hearing, touch, or taste. Or it may affect multiple senses. Individuals can be over- or under-responsive to the things they have difficulties with.</li></ul></p>'"
      [reverse]="false"></app-text-image-column>

    <app-text-image-column id="attention-deficit" img="assets/images/OT Page _ ADHD.png"
      title="Attention Deficit and Hyperactivity Disorders (ADHD)"
      [copy]="'<p><ul><li>Attention Deficit and Hyperactivity Disorders (ADHD) is one of the most common neurodevelopmental disorders of childhood. It is usually first diagnosed in childhood and often lasts into adulthood. Children with ADHD may have trouble paying attention, controlling impulsive behaviours (may act without thinking about what the result will be), or be overly active.</li><li>Symptoms affect behaviour, level of maturity, peer relations, scholastic performance, social interaction and family dynamics.</li></ul></p>'"
      [reverse]="true"></app-text-image-column>


    <app-text-image-column id="learning-difficulties" img="assets/images/OT Page _ Learning Disability.png"
      title="Learning Disability  (Reading and writing difficulties)"
      [copy]="'<p><ul><li>A Learning Disability (LD) is a childhood disorder characterised by difficulty with certain skills such as reading or writing in individuals with normal intelligence. Learning disabilities affect the ability to interpret what one sees and hears or the ability to link information from different parts of the brain. These limitations can show up in many ways – as specific difficulties with spoken and written language, coordination, self-control, or attention. Such difficulties extend to schoolwork and can impede learning to read or write, or to do math.</li><li>Learning disabilities can be lifelong conditions that, in some cases, affect many parts of a person’s life: school or work, daily routines, family life, and sometimes even friendships and play. In some people, many overlapping learning disabilities may be apparent. Other people may have a single, isolated learning problem that has little impact on other areas of their lives.</li></ul></p>'"
      [reverse]="false"></app-text-image-column>

    <app-text-image-column id="autism-spectrum-disorders" img="assets/images/OT Page _ Autism.png"
      title="Autism Spectrum Disorders (ASD)"
      [copy]="'<p><ul><li>Autism spectrum disorder (ASD) is a neurological and developmental disorder that begins early in childhood and lasts throughout a person’s life. It affects how a person acts and interacts with others, communicates, and learns. It includes what used to be known as Asperger syndrome and pervasive developmental disorders.</li><li>Despite extensive research being conducted on the topic of the cause of Autism Spectrum Disorder (ASD), the exact cause of ASD is unknown. However, a general consensus among the scientific community is that the cause is biological, most likely neurological as against the widely held earlier theories of psychological causation.</li><li>There may be more than one cause or a combination of causative factors. Irrespective of the exact biological cause, these children have a range of developmental difficulties which impact learning and performance.</li></ul></p>'"
      [reverse]="true"></app-text-image-column>

    <app-text-image-column id="developmental-delay" img="assets/images/OT Page _ Developmental Delay.png"
      title="Developmental Delay"
      [copy]="'<p><ul><li>A developmental delay refers to a child who has not gained the developmental skills expected of him or her, compared to others of the same age. Delays may occur in the areas of motor function, speech and language, cognitive, play, and social skills. Global developmental delay means a young child has significant delays in two or more of these areas of development.</li><li>Children reach milestones at their own pace but there are general time spans that are considered developmentally appropriate.</li><li>Delay in reaching language, thinking, and motor skills milestones is called developmental delay.</li>The causes are not always known but can range from complications during pregnancy, birth trauma and hereditary factors.<li></li><li>To bridge the gap that such delays create, therapy is necessary as the delay can impact scholastic performance.</li></ul></p>'"
      [reverse]="false"></app-text-image-column>

    <app-text-image-column id="other-neurodevelopmental-disorders" img="assets/images/OT Page _ CP.png"
      title="Cerebral Palsy"
      [copy]="'<p><ul><li>Cerebral palsy (CP) is a group of disorders that affect a person’s ability to move and maintain balance and posture. CP is one of the most common disorders in childhood. Injury to the brain results in weakness in the muscles of the body. Cerebral palsy causes a range of disabilities that can extend from mild to severe.</li></ul></p>'"
      [reverse]="true"></app-text-image-column>
  </div>

</section>