.navigation {
	
	.navbar-brand {
		img {
			width: auto;
			height: 135px;
		}
	}

  .dropdown-item {
    &:active {
      background-color: #97667b;
      color: #fff;
    }
  }

  .navbar-nav {
    a {
      font-size: 20px;

	  @media (min-width: 1024px) {
		margin: 0 15px;
	  }
    }
  }
}