.navigation {

  .navbar {
    background: #D9D0C7;


    &.fixed-top {
      z-index: 99;
    }
  }

  .nav-item {
    &:hover {
      .nav-link {
        color: #97667b;
      }
    }
  }
  
  .navbar-brand {
    img {
      width: auto;
      height: 90px;
    }
  }

  .dropdown-item {
    margin-top: 10px;
    margin-bottom: 10px;

    &:active {
      background-color: #97667b;
      color: #fff;
    }
  }

  .nav-link {
    font-weight: 500;

    @media (min-width: 1024px) {
      margin: 20px;
    }
  }

  .navbar-nav {
    a {
      font-size: 20px;
    }
  }
}
