.navigation {

  .navbar {
    background: #D9D0C7;
  }

  .nav-item {
    &:hover {
      .nav-link {
        font-weight: bold;
      }
    }
  }
  
  .navbar-brand {
    img {
      width: auto;
      height: 90px;
    }
  }

  .dropdown-item {
    margin-top: 10px;
    margin-bottom: 10px;

    &:active {
      background-color: #97667b;
      color: #fff;
    }
  }

  .nav-link {
    @media (min-width: 1024px) {
      margin: 20px;
    }
  }

  .navbar-nav {
    a {
      font-size: 20px;
    }
  }
}
